Source: https://catalog.data.gov/dataset/2015-street-tree-census-tree-data
<br>
Source: https://data.cityofnewyork.us/Environment/2015-Street-Tree-Census-Tree-Data/uvpi-gqnh

The 2015 Tree Census dataset for New York City is collected by volunteers and staff members from NYC Parks & Rec. <br>
Here, we clean and standardize the data.

In [1]:
import pandas as pd
import numpy as np
from numpy.random import seed
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('2015-tree-census.csv')
tree = data # save a copy of data as tree

In [3]:
tree.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683788 entries, 0 to 683787
Data columns (total 45 columns):
tree_id             683788 non-null int64
block_id            683788 non-null int64
created_at          683788 non-null object
tree_dbh            683788 non-null int64
stump_diam          683788 non-null int64
curb_loc            683788 non-null object
status              683788 non-null object
health              652172 non-null object
spc_latin           652169 non-null object
spc_common          652169 non-null object
steward             652173 non-null object
guards              652172 non-null object
sidewalk            652172 non-null object
user_type           683788 non-null object
problems            652124 non-null object
root_stone          683788 non-null object
root_grate          683788 non-null object
root_other          683788 non-null object
trunk_wire          683788 non-null object
trnk_light          683788 non-null object
trnk_other          683788 non-null object
brch_light          683788 non-null object
brch_shoe           683788 non-null object
brch_other          683788 non-null object
address             683788 non-null object
postcode            683788 non-null int64
zip_city            683788 non-null object
community board     683788 non-null int64
borocode            683788 non-null int64
borough             683788 non-null object
cncldist            683788 non-null int64
st_assem            683788 non-null int64
st_senate           683788 non-null int64
nta                 683788 non-null object
nta_name            683788 non-null object
boro_ct             683788 non-null int64
state               683788 non-null object
latitude            683788 non-null float64
longitude           683788 non-null float64
x_sp                683788 non-null float64
y_sp                683788 non-null float64
council district    677269 non-null float64
census tract        677269 non-null float64
bin                 674229 non-null float64
bbl                 674229 non-null float64
dtypes: float64(8), int64(11), object(26)
memory usage: 234.8+ MB

In [4]:
tree.shape

(683788, 45)

In [5]:
# display the first five rows

tree.head()

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,boro_ct,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl
0,180683,348711,08/27/2015,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,4073900,New York,40.723092,-73.844215,1027431.148,202756.7687,29.0,739.0,4052307.0,4.022210e+09
1,200540,315986,09/03/2015,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,4097300,New York,40.794111,-73.818679,1034455.701,228644.8374,19.0,973.0,4101931.0,4.044750e+09
2,204026,218365,09/05/2015,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.717581,-73.936608,1001822.831,200716.8913,34.0,449.0,3338310.0,3.028870e+09
3,204337,217969,09/05/2015,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.713537,-73.934456,1002420.358,199244.2531,34.0,449.0,3338342.0,3.029250e+09
4,189565,223043,08/30/2015,21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,3016500,New York,40.666778,-73.975979,990913.775,182202.4260,39.0,165.0,3025654.0,3.010850e+09

In [6]:
# display the last three rows

tree.tail(3)

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,boro_ct,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl
683785,166161,401670,08/22/2015,12,0,OnCurb,Alive,Good,Acer rubrum,red maple,...,5020100,New York,40.620762,-74.136517,9.463514e+05,165466.0763,50.0,201.0,5011657.0,5.004080e+09
683786,184028,504204,08/29/2015,9,0,OnCurb,Alive,Good,Acer rubrum,red maple,...,2023502,New York,40.850828,-73.903115,1.011054e+06,249271.9507,15.0,23502.0,2007757.0,2.028120e+09
683787,200607,306527,09/03/2015,23,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,4134100,New York,40.732165,-73.787526,1.043136e+06,206095.5383,24.0,1341.0,4153657.0,4.071360e+09

In [7]:
# display the columns

tree.columns

Index(['tree_id', 'block_id', 'created_at', 'tree_dbh', 'stump_diam',
       'curb_loc', 'status', 'health', 'spc_latin', 'spc_common', 'steward',
       'guards', 'sidewalk', 'user_type', 'problems', 'root_stone',
       'root_grate', 'root_other', 'trunk_wire', 'trnk_light', 'trnk_other',
       'brch_light', 'brch_shoe', 'brch_other', 'address', 'postcode',
       'zip_city', 'community board', 'borocode', 'borough', 'cncldist',
       'st_assem', 'st_senate', 'nta', 'nta_name', 'boro_ct', 'state',
       'latitude', 'longitude', 'x_sp', 'y_sp', 'council district',
       'census tract', 'bin', 'bbl'],
      dtype='object')

In [8]:
# drop any duplicates

tree = tree.drop_duplicates()

tree.shape # there does not appear to be any duplicates

(683788, 45)

In [9]:
# display null values

tree.isnull().sum()

tree_id                 0
block_id                0
created_at              0
tree_dbh                0
stump_diam              0
curb_loc                0
status                  0
health              31616
spc_latin           31619
spc_common          31619
steward             31615
guards              31616
sidewalk            31616
user_type               0
problems            31664
root_stone              0
root_grate              0
root_other              0
trunk_wire              0
trnk_light              0
trnk_other              0
brch_light              0
brch_shoe               0
brch_other              0
address                 0
postcode                0
zip_city                0
community board         0
borocode                0
borough                 0
cncldist                0
st_assem                0
st_senate               0
nta                     0
nta_name                0
boro_ct                 0
state                   0
latitude                0
longitude               0
x_sp                    0
y_sp                    0
council district     6519
census tract         6519
bin                  9559
bbl                  9559
dtype: int64

In [10]:
# drop columns that are inconsistent or not useful for analysis
# drop state column since all trees are in NY
# drop council district, census tract, bin, and bbl since
# they are not used for analysis

# dropping borocode since borough is already listed

drop_list = ['state', 'borocode', 'council district', 'census tract', 'bin', 'bbl', 'x_sp', 'y_sp']

In [11]:
tree.drop(drop_list, axis='columns', inplace=True)

In [12]:
tree.isnull().sum()

tree_id                0
block_id               0
created_at             0
tree_dbh               0
stump_diam             0
curb_loc               0
status                 0
health             31616
spc_latin          31619
spc_common         31619
steward            31615
guards             31616
sidewalk           31616
user_type              0
problems           31664
root_stone             0
root_grate             0
root_other             0
trunk_wire             0
trnk_light             0
trnk_other             0
brch_light             0
brch_shoe              0
brch_other             0
address                0
postcode               0
zip_city               0
community board        0
borough                0
cncldist               0
st_assem               0
st_senate              0
nta                    0
nta_name               0
boro_ct                0
latitude               0
longitude              0
dtype: int64

In [13]:
# since there are 683788 rows and 45 columns of tree data available
# it is okay to remove rows that are missing values

# drop rows that contain missing values

# tree.dropna(subset=[''], inplace=True)

# count the remaining missing values in each column

# tree.isnull().sum()

In [14]:
# looking at the datatypes since they affect the types of operations that can be performed

tree.dtypes

tree_id              int64
block_id             int64
created_at          object
tree_dbh             int64
stump_diam           int64
curb_loc            object
status              object
health              object
spc_latin           object
spc_common          object
steward             object
guards              object
sidewalk            object
user_type           object
problems            object
root_stone          object
root_grate          object
root_other          object
trunk_wire          object
trnk_light          object
trnk_other          object
brch_light          object
brch_shoe           object
brch_other          object
address             object
postcode             int64
zip_city            object
community board      int64
borough             object
cncldist             int64
st_assem             int64
st_senate            int64
nta                 object
nta_name            object
boro_ct              int64
latitude           float64
longitude          float64
dtype: object

In [15]:
tree.status.value_counts(dropna=False) # we want to see any missing data too

Alive    652173
Stump     17654
Dead      13961
Name: status, dtype: int64

Observe that Stump and Dead totals 31615, around the number of trees with missing data for <br>
health (31616) <br>
spc_latin (31619) <br>
spc_common (31619) <br>
steward (31615) <br>
guards (31616) <br>
sidewalk (31616)<br>
and problems (31664).
<br>
If the tree is a stump or dead, then there is no way to discern the health of the tree. There is also no way to know the Latin/Scientific or common name of the tree (also irrelevant). Likewise, stewards are not indicated for dead trees nor are there guards and sidewalk flags.
<br>
Since the numbers missing for the above columns are roughly the same, the next step is to investigate the small discrepancies.

In [16]:
tree.health.value_counts(dropna=False) # shows missing data

Good    528850
Fair     96504
NaN      31616
Poor     26818
Name: health, dtype: int64

Since 31616 rows lack 'health' data and 31615 rows are classified as Stump or Dead in terms of 'status', there may be a row that does not contain 'health' data and is marked as Alive.
<br >
<br >
Let's replace the health column rows that lack data with Dead since a tree that is a stump is probably deceased.
<br >
Note: this is only for rows that have a status labeled as Stump or Dead (since status is not missing any values).

In [17]:
# filter rows that have a Dead or Stump status and missing health (NaN)

miss_health = tree[(tree.health.isnull()) & (tree.status == 'Alive')]
miss_health

# located the row!
# this row can be removed since the health is unknown, despite the tree being alive

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,community board,borough,cncldist,st_assem,st_senate,nta,nta_name,boro_ct,latitude,longitude
32864,245041,413012,09/21/2015,16,0,OnCurb,Alive,NaN,Fraxinus pennsylvanica,green ash,...,503,Staten Island,51,62,24,SI32,Rossville-Woodrow,5020801,40.548597,-74.216412

In [18]:
# removing the row

tree = tree.drop(tree.index[32864])

tree[tree['tree_id'] == 245041] # confirmed

Empty DataFrame
Columns: [tree_id, block_id, created_at, tree_dbh, stump_diam, curb_loc, status, health, spc_latin, spc_common, steward, guards, sidewalk, user_type, problems, root_stone, root_grate, root_other, trunk_wire, trnk_light, trnk_other, brch_light, brch_shoe, brch_other, address, postcode, zip_city, community board, borough, cncldist, st_assem, st_senate, nta, nta_name, boro_ct, latitude, longitude]
Index: []

[0 rows x 37 columns]

The City of New York mentions that dead trees and stumps do not have data recorded for the following fields:
<br >
steward (31615)
<br >
guards (31616)
<br >
sidewalk (31616). 
<br >
Let's investigate and locate any rows that lack data or may be incorrectly labeled.

In [19]:
guards_sidewalk = tree[(tree.guards.isnull())  & (tree.sidewalk.isnull())]
guards_sidewalk # 31615 rows Ã— 39 columns

# this is consistent with the count for 'steward'

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,community board,borough,cncldist,st_assem,st_senate,nta,nta_name,boro_ct,latitude,longitude
37,211205,302080,09/09/2015,0,16,OnCurb,Stump,NaN,NaN,NaN,...,401,Queens,22,36,12,QN72,Steinway,4009500,40.774993,-73.922037
56,187807,506266,08/29/2015,0,0,OnCurb,Dead,NaN,NaN,NaN,...,207,Bronx,11,80,36,BX43,Norwood,2042500,40.871927,-73.882349
196,208322,222858,09/07/2015,10,0,OnCurb,Dead,NaN,NaN,NaN,...,304,Brooklyn,37,53,18,BK77,Bushwick North,3044500,40.705742,-73.917849
209,209058,415850,09/08/2015,6,0,OnCurb,Dead,NaN,NaN,NaN,...,503,Staten Island,50,64,24,SI25,Oakwood-Oakwood Beach,5012806,40.559061,-74.106038
265,210544,216081,09/08/2015,6,0,OnCurb,Dead,NaN,NaN,NaN,...,301,Brooklyn,33,50,26,BK76,Greenpoint,3057100,40.726271,-73.947287
284,188609,107627,08/30/2015,9,0,OnCurb,Dead,NaN,NaN,NaN,...,108,Manhattan,5,76,28,MN32,Yorkville,1013600,40.771992,-73.951657
429,189412,108374,08/30/2015,7,0,OnCurb,Dead,NaN,NaN,NaN,...,109,Manhattan,7,70,30,MN09,Morningside Heights,1020701,40.807979,-73.959649
437,189526,223109,08/30/2015,4,0,OnCurb,Dead,NaN,NaN,NaN,...,306,Brooklyn,39,44,21,BK37,Park Slope-Gowanus,3015500,40.669389,-73.979367
590,179748,348463,08/27/2015,20,0,OnCurb,Dead,NaN,NaN,NaN,...,406,Queens,29,27,14,QN17,Forest Hills,4075701,40.721514,-73.836307
639,192569,302968,08/31/2015,2,0,OnCurb,Dead,NaN,NaN,NaN,...,402,Queens,26,37,12,QN31,Hunters Point-Sunnyside-West Maspeth,4018501,40.738044,-73.921552
640,179766,230466,08/27/2015,0,30,OnCurb,Stump,NaN,NaN,NaN,...,314,Brooklyn,45,42,21,BK42,Flatbush,3077000,40.637379,-73.953814
643,180619,348834,08/27/2015,0,10,OnCurb,Stump,NaN,NaN,NaN,...,406,Queens,29,27,15,QN17,Forest Hills,4075702,40.725300,-73.839376
644,184295,505610,08/29/2015,0,0,OnCurb,Dead,NaN,NaN,NaN,...,206,Bronx,15,78,33,BX06,Belmont,2038700,40.857876,-73.887850
645,208828,107238,09/08/2015,0,15,OnCurb,Stump,NaN,NaN,NaN,...,108,Manhattan,5,76,28,MN31,Lenox Hill-Roosevelt Island,1011800,40.764914,-73.960857
647,181973,337808,08/28/2015,0,25,OnCurb,Stump,NaN,NaN,NaN,...,414,Queens,32,23,15,QN10,Breezy Point-Belle Harbor-Rockaway Park-Broad ...,4092800,40.571331,-73.858072
735,184110,504234,08/29/2015,3,0,OnCurb,Dead,NaN,NaN,NaN,...,205,Bronx,15,86,33,BX41,Mount Hope,2038100,40.852625,-73.900171
737,191466,310454,08/31/2015,19,0,OnCurb,Dead,NaN,NaN,NaN,...,409,Queens,29,28,14,QN60,Kew Gardens,4077300,40.712993,-73.831434
738,200522,210288,09/03/2015,0,17,OnCurb,Stump,NaN,NaN,NaN,...,315,Brooklyn,46,41,22,BK44,Madison,3056800,40.604037,-73.937835
740,174299,217297,08/25/2015,0,15,OnCurb,Stump,NaN,NaN,NaN,...,301,Brooklyn,34,53,18,BK90,East Williamsburg,3050500,40.708442,-73.945030
742,198633,415600,09/02/2015,0,16,OnCurb,Stump,NaN,NaN,NaN,...,503,Staten Island,50,62,24,SI25,Oakwood-Oakwood Beach,5013800,40.572209,-74.125851
745,173517,102043,08/25/2015,8,0,OnCurb,Dead,NaN,NaN,NaN,...,102,Manhattan,3,66,27,MN23,West Village,1007300,40.735202,-74.005829
754,188115,302326,08/30/2015,2,0,OnCurb,Dead,NaN,NaN,NaN,...,401,Queens,22,36,13,QN72,Steinway,4010300,40.778412,-73.913829
772,209649,503989,09/08/2015,0,5,OnCurb,Stump,NaN,NaN,NaN,...,205,Bronx,15,86,33,BX41,Mount Hope,2022901,40.847578,-73.906641
916,208396,345512,09/07/2015,0,15,OnCurb,Stump,NaN,NaN,NaN,...,405,Queens,34,37,12,QN20,Ridgewood,4053900,40.706664,-73.916907
991,205161,222400,09/05/2015,3,0,OnCurb,Dead,NaN,NaN,NaN,...,304,Brooklyn,37,53,18,BK77,Bushwick North,3043300,40.696980,-73.915032
993,197824,413596,09/02/2015,2,0,OnCurb,Dead,NaN,NaN,NaN,...,503,Staten Island,51,63,24,SI48,Arden Heights,5017007,40.562595,-74.182098
994,191374,415497,08/31/2015,1,0,OnCurb,Dead,NaN,NaN,NaN,...,503,Staten Island,50,62,24,SI25,Oakwood-Oakwood Beach,5013800,40.569294,-74.129443
1059,208527,103974,09/07/2015,0,1,OnCurb,Stump,NaN,NaN,NaN,...,104,Manhattan,3,75,27,MN15,Clinton,1013300,40.764486,-73.989524
1100,184524,505390,08/29/2015,2,0,OffsetFromCurb,Dead,NaN,NaN,NaN,...,206,Bronx,15,86,33,BX01,Claremont-Bathgate,2039500,40.853328,-73.894378
1121,173356,224952,08/25/2015,3,0,OnCurb,Dead,NaN,NaN,NaN,...,307,Brooklyn,38,51,23,BK32,Sunset Park West,3002200,40.646499,-74.021602
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
682351,203605,301947,09/04/2015,3,0,OnCurb,Dead,NaN,NaN,NaN,...,401,Queens,22,36,13,QN72,Steinway,4011700,40.773399,-73.907959
682352,196070,103921,09/01/2015,0,0,OnCurb,Dead,NaN,NaN,NaN,...,104,Manhattan,3,75,27,MN15,Clinton,1012700,40.762000,-73.989176
682354,172204,345432,08/24/2015,0,8,OnCurb,Stump,NaN,NaN,NaN,...,405,Queens,30,37,12,QN20,Ridgewood,4058900,40.707693,-73.903798
682355,180309,338338,08/27/2015,1,0,OnCurb,Dead,NaN,NaN,NaN,...,414,Queens,32,23,10,QN10,Breezy Point-Belle Harbor-Rockaway Park-Broad ...,4094201,40.584553,-73.818489
682356,208234,106402,09/07/2015,0,4,OnCurb,Stump,NaN,NaN,NaN,...,107,Manhattan,6,67,29,MN12,Upper West Side,1016500,40.782276,-73.972544
682358,183873,504245,08/29/2015,0,24,OnCurb,Stump,NaN,NaN,NaN,...,205,Bronx,15,86,33,BX41,Mount Hope,2038100,40.853486,-73.900697
682359,184407,505164,08/29/2015,5,0,OnCurb,Dead,NaN,NaN,NaN,...,206,Bronx,15,86,33,BX01,Claremont-Bathgate,2039500,40.847156,-73.897896
682363,181708,207966,08/28/2015,0,9,OnCurb,Stump,NaN,NaN,NaN,...,315,Brooklyn,48,45,22,BK17,Sheepshead Bay-Gerritsen Beach-Manhattan Beach,3061600,40.575702,-73.952562
682364,186881,506316,08/29/2015,2,0,OnCurb,Dead,NaN,NaN,NaN,...,207,Bronx,11,80,36,BX43,Norwood,2041900,40.874243,-73.881420
682365,196884,216052,09/02/2015,4,0,OnCurb,Dead,NaN,NaN,NaN,...,301,Brooklyn,33,50,26,BK76,Greenpoint,3057100,40.725787,-73.949856
682366,203291,301067,09/04/2015,15,0,OnCurb,Dead,NaN,NaN,NaN,...,401,Queens,22,36,12,QN70,Astoria,4007500,40.765290,-73.926561
682435,194321,205983,09/01/2015,3,0,OnCurb,Dead,NaN,NaN,NaN,...,311,Brooklyn,44,48,17,BK29,Bensonhurst East,3043400,40.611593,-73.976192
682436,189677,313377,08/30/2015,0,24,OnCurb,Stump,NaN,NaN,NaN,...,407,Queens,19,40,11,QN51,Murray Hill,4104700,40.772515,-73.813284
682539,198205,310806,09/02/2015,7,0,OnCurb,Dead,NaN,NaN,NaN,...,407,Queens,20,25,16,QN62,Queensboro Hill,4121500,40.741085,-73.810111
682541,205664,301307,09/06/2015,0,4,OnCurb,Stump,NaN,NaN,NaN,...,401,Queens,22,36,13,QN72,Steinway,4031700,40.767177,-73.897507
682788,183910,505123,08/29/2015,127,0,OnCurb,Dead,NaN,NaN,NaN,...,206,Bronx,17,86,33,BX17,East Tremont,2037504,40.846545,-73.893979
682789,197914,415905,09/02/2015,0,13,OnCurb,Stump,NaN,NaN,NaN,...,503,Staten Island,51,62,24,SI48,Arden Heights,5017007,40.553276,-74.186450
682791,193220,348308,08/31/2015,0,17,OnCurb,Stump,NaN,NaN,NaN,...,406,Queens,29,28,15,QN17,Forest Hills,4076901,40.716795,-73.837821
682815,184342,505510,08/29/2015,11,0,OnCurb,Dead,NaN,NaN,NaN,...,206,Bronx,15,78,33,BX01,Claremont-Bathgate,2038500,40.855136,-73.892756
682822,155430,217978,08/18/2015,2,0,OnCurb,Dead,NaN,NaN,NaN,...,301,Brooklyn,34,53,18,BK73,North Side-South Side,3051900,40.713867,-73.954529
682972,193121,301209,08/31/2015,0,12,OnCurb,Stump,NaN,NaN,NaN,...,401,Queens,22,36,12,QN70,Astoria,4007700,40.766729,-73.928751
682973,206961,311118,09/06/2015,5,0,OnCurb,Dead,NaN,NaN,NaN,...,407,Queens,20,25,16,QN62,Queensboro Hill,4080301,40.747121,-73.831149
683346,156566,514686,08/18/2015,10,0,OnCurb,Dead,NaN,NaN,NaN,...,212,Bronx,12,83,36,BX44,Williamsbridge-Olinville,2042400,40.889713,-73.851001
683348,152836,217718,08/17/2015,0,13,OnCurb,Stump,NaN,NaN,NaN,...,301,Brooklyn,34,53,18,BK73,North Side-South Side,3052300,40.711246,-73.956418
683686,191219,321689,08/31/2015,0,25,OnCurb,Stump,NaN,NaN,NaN,...,411,Queens,19,26,11,QN46,Bayside-Bayside Hills,4147100,40.761032,-73.765688
683693,156162,108193,08/18/2015,3,0,OffsetFromCurb,Dead,NaN,NaN,NaN,...,108,Manhattan,5,68,28,MN40,Upper East Side-Carnegie Hill,1015801,40.785136,-73.951108
683695,170888,231931,08/24/2015,0,5,OnCurb,Stump,NaN,NaN,NaN,...,317,Brooklyn,40,42,21,BK95,Erasmus,3079400,40.647154,-73.955619
683697,177922,410634,08/26/2015,0,17,OnCurb,Stump,NaN,NaN,NaN,...,503,Staten Island,51,62,24,SI01,Annadale-Huguenot-Prince's Bay-Eltingville,5017600,40.528544,-74.165246
683698,193791,208850,09/01/2015,3,0,OnCurb,Dead,NaN,NaN,NaN,...,315,Brooklyn,47,45,22,BK26,Gravesend,3038600,40.590385,-73.972892
683699,172660,349995,08/25/2015,0,4,OnCurb,Stump,NaN,NaN,NaN,...,414,Queens,31,23,15,QN15,Far Rockaway-Bayswater,4101001,40.595866,-73.746149

In [20]:
# check for when guards is null and sidewalk is not

guards_null = tree[(tree.guards.isnull()) & (~tree.sidewalk.isnull())]
guards_null

# tree is alive and in poor health and is not indentified (species)
# will delete this row

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,community board,borough,cncldist,st_assem,st_senate,nta,nta_name,boro_ct,latitude,longitude
427537,630814,323764,07/18/2016,11,0,OnCurb,Alive,Poor,NaN,NaN,...,411,Queens,19,26,11,QN45,Douglas Manor-Douglaston-Little Neck,4148300,40.771945,-73.750414

In [21]:
# dropping the row

tree = tree.drop(index=427537)

tree[tree['tree_id'] == 630814] # confirmed

Empty DataFrame
Columns: [tree_id, block_id, created_at, tree_dbh, stump_diam, curb_loc, status, health, spc_latin, spc_common, steward, guards, sidewalk, user_type, problems, root_stone, root_grate, root_other, trunk_wire, trnk_light, trnk_other, brch_light, brch_shoe, brch_other, address, postcode, zip_city, community board, borough, cncldist, st_assem, st_senate, nta, nta_name, boro_ct, latitude, longitude]
Index: []

[0 rows x 37 columns]

In [22]:
# check when guards is not null and sidewalk is

sidewalk_null = tree[(~tree.guards.isnull()) & (tree.sidewalk.isnull())]
sidewalk_null

# tree is alive, in good health, and is identified
# will delete this row

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,community board,borough,cncldist,st_assem,st_senate,nta,nta_name,boro_ct,latitude,longitude
346236,540677,202468,12/29/2015,7,0,OffsetFromCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,305,Brooklyn,37,54,19,QN56,Ozone Park,3118800,40.67909,-73.864029

In [23]:
# dropping the row

tree = tree.drop(index=346236)

tree[tree['tree_id'] == 540677] # confirmed

Empty DataFrame
Columns: [tree_id, block_id, created_at, tree_dbh, stump_diam, curb_loc, status, health, spc_latin, spc_common, steward, guards, sidewalk, user_type, problems, root_stone, root_grate, root_other, trunk_wire, trnk_light, trnk_other, brch_light, brch_shoe, brch_other, address, postcode, zip_city, community board, borough, cncldist, st_assem, st_senate, nta, nta_name, boro_ct, latitude, longitude]
Index: []

[0 rows x 37 columns]

It looks like there is a row without 'guard' data and another row without 'sidewalk' data. Put together, they consistently show 31,615 rows that lack data, same as steward.

In [24]:
# look for row with sidewalk, without steward

steward_sidewalk_null = tree[(~tree.steward.isnull()) & (tree.sidewalk.isnull())]

steward_sidewalk_null # none

Empty DataFrame
Columns: [tree_id, block_id, created_at, tree_dbh, stump_diam, curb_loc, status, health, spc_latin, spc_common, steward, guards, sidewalk, user_type, problems, root_stone, root_grate, root_other, trunk_wire, trnk_light, trnk_other, brch_light, brch_shoe, brch_other, address, postcode, zip_city, community board, borough, cncldist, st_assem, st_senate, nta, nta_name, boro_ct, latitude, longitude]
Index: []

[0 rows x 37 columns]

In [25]:
# look for row with guards, without steward

guards_guards_null = tree[(~tree.steward.isnull()) & (tree.guards.isnull())]
guards_guards_null # none

Empty DataFrame
Columns: [tree_id, block_id, created_at, tree_dbh, stump_diam, curb_loc, status, health, spc_latin, spc_common, steward, guards, sidewalk, user_type, problems, root_stone, root_grate, root_other, trunk_wire, trnk_light, trnk_other, brch_light, brch_shoe, brch_other, address, postcode, zip_city, community board, borough, cncldist, st_assem, st_senate, nta, nta_name, boro_ct, latitude, longitude]
Index: []

[0 rows x 37 columns]

In [26]:
# look for row with steward

steward_null_sidewalk = tree[(tree.steward.isnull()) & (~tree.sidewalk.isnull())] # none
steward_null_guards = tree[(tree.steward.isnull()) & (~tree.guards.isnull())] # none

In [27]:
tree.isnull().sum()

tree_id                0
block_id               0
created_at             0
tree_dbh               0
stump_diam             0
curb_loc               0
status                 0
health             31615
spc_latin          31618
spc_common         31618
steward            31615
guards             31615
sidewalk           31615
user_type              0
problems           31663
root_stone             0
root_grate             0
root_other             0
trunk_wire             0
trnk_light             0
trnk_other             0
brch_light             0
brch_shoe              0
brch_other             0
address                0
postcode               0
zip_city               0
community board        0
borough                0
cncldist               0
st_assem               0
st_senate              0
nta                    0
nta_name               0
boro_ct                0
latitude               0
longitude              0
dtype: int64

In [28]:
tree.shape

(683785, 37)